<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-styles/colors.html">

<dom-module id="pw-contacts">
  <template>
    <style>
      :host {
        display: block;
        --black: black;
        --border-default: 1px solid var(--paper-pink-a200);
        
        --mi-primer-css-mixin: {
          background-color: red;
          color: var(--black);
          border: var(--border-default);
        };
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        border: var(--border-default, 2px solid black);
      }

      paper-button.pink {
        color: white;
        background-color: var(--paper-pink-a200);
      }
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;

        @apply --mi-primer-css-mixin;
      }
    </style>
    <div>
      <paper-input label="Nombre" always-float-label value="[[name]]" on-value-changed="handler"></paper-input>
      <paper-input label="Teléfono" always-float-label value="[[tel]]"></paper-input>
      <paper-input label="Email" always-float-label value="[[email]]"></paper-input>
    </div>
    <paper-button raised class="indigo">Aceptar</paper-button>
    <paper-button raised class="pink">Cancelar</paper-button>
  </template>

  <script>
    /**
     * `pw-contacts`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwContacts extends Polymer.Element {
      static get is() { return 'pw-contacts'; }
      static get properties() {
        return {
          name: {
            type: String
          }
        };
      }

      handler(e) {
        console.log(e);
      }
    }

    window.customElements.define(PwContacts.is, PwContacts);
  </script>
</dom-module>
